<div class="container">
    <div class="d-flex justify-content-between">
        <div class="comment">
            {{comment?.comment}}
        </div>
        <div class="center flex-row">
            <div class="date-time mx-2">
                {{comment?.created | date: 'short'}}
            </div>
            <button *ngIf="userId == comment?.postedBy?.id" class="btn btn-outline-danger" (click)="deleteComment()">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </div>
    
</div>