@import '_vars';

nav .navbar-brand{
    font-weight:bold;
    font-size:  $ts-med;
    color: white;
}

.nav-link{    
    color: #bbb;
}

.bi {
    margin-right: 10px;
    font-size: 1.5rem;
}

.account-container {
    margin-left: auto;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown-item {
    display: flex;
    align-items: center;
}