@import '_vars';

nav .navbar-brand{
    font-weight:bold;
    font-size:  $ts-med;
    color: white;
}

.nav-link{    
    display: flex;
    align-items: center;
    color: #bbb;
    i {
        font-size: 1.5rem;
        margin-right: 10px;
    }
}


.bi {
    margin-right: 10px;
    font-size: 1.5rem;
}

.account-container {
    margin-left: auto;
}

.dropdown-menu {
    display: none;
  }
  
.dropdown-menu.show {
    display: block;
    right: 0;
    left: auto;
}

.dropdown-item {
    display: flex;
    align-items: center;
}

.desktop-account-options {
    display: block;
  }
  
  .mobile-account-options {
    display: block;
  }
  
  @media (max-width: 991.98px) {
    .desktop-account-options {
      display: none;
    }

    .account-container {
        margin-left: 0;
    }
  }
  
  @media (min-width: 992px) {
    .mobile-account-options {
      display: none;
    }
  
    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }

