<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li *ngFor="let item of mainLinks" class="nav-item">
                    <a class="nav-link" [routerLink]="item.link" [routerLinkActiveOptions]="{ exact: item.exact ?? false }" routerLinkActive="active">
                        <span>{{ item.text }}</span>
                    </a>
                </li>

                <li *ngFor="let item of protectedLinks" class="nav-item">
                    <a class="nav-link" [routerLink]="item.link" [routerLinkActiveOptions]="{ exact: item.exact ?? false }" routerLinkActive="active">
                        <span>{{ item.text }}</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <div class="account-container">
                    <li class="nav-item dropdown" *ngIf="!authService.isAuthenticated()">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="bi bi-person-circle"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" routerLink="/login">
                                    <i class="bi bi-box-arrow-in-right"></i>Login
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/register">
                                    <i class="bi bi-person-fill-add"></i>Register
                                </a>
                            </li>
                        </ul>
                      </li>
                      
                    <li class="nav-item dropdown" *ngIf="authService.isAuthenticated()">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownLoggedIn" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i>
                            <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownLoggedIn">
                            <li>
                                <a class="dropdown-item" routerLink="/" (click)="logout()">
                                    <i class="bi bi-box-arrow-right"></i>Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>
            </ul>
            <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>