/* Background Colour */
$bg-1: #ffffff;
$bg-2: #e76107; /* orange */
$bg-3: #F7F7F7; /* off white */
$bg-4: #000000; /* black */

/* Hover Colour */
$hc-1: #96b9b6;

/* Text Colour */
$tc-1: #000000;
$tc-2: #ffffff;
$tc-3: #e76107; /* orange */

/* Text Size */
$ts-sml: calc(10px + (10 - 8) * ((100vw - 300px) / (1600 - 300)));
$ts-reg: calc(20px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
$ts-med: calc(27px + (27 - 20) * ((100vw - 300px) / (1600 - 300)));
$ts-large: calc(35px + (35 - 20) * ((100vw - 300px) / (1600 - 300)));
$ts-xlarge: calc(60px + (60 - 20) * ((100vw - 300px) / (1600 - 300)));

$primary: orange;
$secondary: #F7F7F7;

/* Shadows */
$shadow: 0px 9px 28px 0px rgba(0,0,0,0.1); 
$shadow-2: 0px 9px 28px 0px rgba(0,0,0,0.2); 
$shadow-btn: 0px 0px 30px -8px rgba(0,0,0,0.33);
$shadow-btn-2: 0px 4px 5px rgba(0, 0, 0, 0.07), 12px 0px 25px rgba(0, 0, 0, 0.05);

$notification:'0';
