/* You can add global styles to this file, and also import other style files */

@import '_vars';

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-margin {
  padding: 0;
  margin: 0;
}

[class*='primary']{
  background-color: $primary !important;
  
}

[class*='secondary']{
  background-color: $secondary !important;
  
}