/* You can add global styles to this file, and also import other style files */

@import '_vars';

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-margin {
  padding: 0;
  margin: 0;
}

[class*='primary']{
  background-color: $primary !important;
  color: black;
}

[class*='secondary']{
  background-color: $secondary !important;
  color: black ;

  &:hover {
    background-color: black !important;
    color: white;
    border: 1px solid white;
  }
}

.button {
  color: black;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  background-color: white;
  border-radius: 50px;
  padding: 7px 30px;
  font-size: x-large;
  transition: all 0.3s;
  border: none;
  
  &:hover {
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
      cursor: pointer;
  }
}

.color-primary {
  background-color: orange;
}

input, textarea {
  margin: 0 0 20px 0;
  border: 3px dashed orange;
  padding: 5px;
}

.button-container {
  margin: 10px;
}

table {
  td:hover {
    cursor: pointer;
  }
}

