/* You can add global styles to this file, and also import other style files */

@import '_vars';

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-margin {
  padding: 0;
  margin: 0;
}

[class*='primary']{
  background-color: $primary !important;
}

[class*='secondary']{
  background-color: $secondary !important;
}

.button {
  color: black;
  width: auto;
  background-color: white;
  border-radius: 50px;
  padding: 7px 30px;
  font-size: x-large;
  transition: all 0.3s;
  border: none;
  
  &:hover {
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
      cursor: pointer;
  }
}   

input {
  margin: 10px;
  border: 3px dashed orange;
  padding: 5px;
}

.button-container {
  margin: 10px;
}

table {
  td:hover {
    cursor: pointer;
  }
}

