<div class="sections">
    <div class="section">
        <div class="section-header">
            <h1>Projects</h1>
            <button routerLink="create-project" class="button color-primary">Create Project</button>
        </div>
        <app-project-table></app-project-table>
    </div>
    <div class="section">
        <h1>Project Requests</h1>
        <app-project-request-list></app-project-request-list>
    </div>
    <div class="section">
        <h1>Users</h1>
        <app-users></app-users>
    </div>
</div>

