<div class="sections">
    <div class="section">
        <div class="header">
            <h1>Ideas for projects</h1>
            <button routerLink="/project-request" class="button">
                Submit Project Request
            </button>
        </div>
        <div class="desc">
			<p>Welcome to our Project Idea Forum! Here, you can share your innovative project ideas and collaborate with other users. To submit your idea, simply click the "Submit Project Request" button. You can also vote for your favorite ideas and discuss and refine ideas with others in the comment section.</p>
			<p>If your idea gets a lot of votes from the community, we'll reach out to you via email to discuss potentially bringing your project to life. If your idea is selected, you'll be assigned as the project manager and responsible for leading the development of your idea. You'll work with other users to make your idea a reality.</p>
			<p>Create an account and share your innovative project ideas with us!</p>
		</div>
        <div class="idea-container">
            <app-project-idea (getProjectRequests)="getProjectRequests($event)" *ngFor="let projectRequest of projectRequests" [projectRequest]="projectRequest"></app-project-idea>
        </div>
    </div>
    
    <div class="section">
        <h2>Got an idea for a project?</h2>
        <br>
        <div class="row center">
            <button routerLink="/project-request" class="button">
                Submit Project Request
            </button>
        </div>
    </div>
</div>


