.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: orange;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.desc {
    margin-top: 20px;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
}