<div class="header center">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-xl-3 center">
                <img class="header-image" src="/assets/images/placeholder2.jpg" alt="svg of something code related">
            </div> -->
            <div class="col-xl-12 center welcome-message">
                <h1>
                    Welcome to Shulutions,
                    <h3 style="margin-top: 10px;">
                        the open-source community for Sheffield Hallam University
                    </h3>
                </h1>
            </div>
            <!-- <div class="col-xl-3 center">
                <img class="header-image" src="/assets/images/placeholder1.png" alt="svg of something code related">
            </div> -->
        </div>
        <div class="row button-container justify-content-center">
            <div routerLink="/projects" class="button">
                Get involved
            </div>
        </div>
    </div>
</div>

<div class="sections">
    <div class="our-goal section">
        <div class="container">
            <div class="row 100">
                <div class="col-md-6 no-margin">
                    <div class="image-container center">
                        <img class="image" src="/assets/images/teamwork.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-1 divider no-margin"></div>
                <div class="col-md-5 no-margin">
                    <div class="text-block">
                        <h2>
                            Our Goal
                        </h2>    
                        To build a strong community of students that allows people to come together to build some amazing software projects.
                    </div>            
                </div>
            </div>
        </div>
    </div>
    
    <div class="statistics section">
        <div class="container">
            <div class="row 100">
                <div class="col-md-4">
                    <div class="statistics-grid center">
                        <div class="statistic-container">
                            <div class="statistic-title center">
                                <h4>Community Members</h4>
                            </div>
                            <div class="statistic-value center">
                                {{userCount}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="statistics-grid center">
                        <div class="statistic-container">
                            <div class="statistic-title center">
                                <h4>Current Projects</h4>
                            </div>
                            <div class="statistic-value center">
                                {{repositoryCount}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="statistics-grid center">
                        <div class="statistic-container">
                            <div class="statistic-title center">
                                <h4>Number of contributors</h4>
                            </div>
                            <div class="statistic-value center">
                                2
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center">
                <div routerLink="/projects" class="button primary">
                    View our projects
                </div>
            </div>
        </div>
    </div>

    <div class="social section">
        <div class="container">
            <div class="row 100">
                <div class="col-md-5 no-margin">
                    <div class="text-block">
                        <h2>
                            How to contact us
                        </h2>    
                        Currently our main form of communication is through our Discord Server
                    </div>            
                </div>
                <div class="col-md-1 divider no-margin"></div>
                <div class="col-md-6 no-margin">
                    <div class="discord-link">
                        <iframe src="https://discord.com/widget?id=892804613785415690&theme=dark" width="100%" height="300" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                    </div>
                </div>
            </div>
                
        </div>
    </div>
</div>



<!-- <div class="container">
    <div class="row 100">
        <div class="col-sm-2"></div>
        
        <div class="col-sm-8 content border">
            <h1 class="name center">
                Shulutions
            </h1>
            
            <div class="about-us-container">

            </div>
        </div>

        <div class="col-sm-2"></div>
    </div>
</div> -->