<div class="header center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 center">
                <img class="header-image" src="../../Images/placeholder2.jpg" alt="Image of people coding">
            </div>
            <div class="col-xl-6 center welcome-message">
                <h1>
                    Welcome to Shulutions,
                    <h3>
                        the open-source community for Sheffield Hallam University
                    </h3>
                </h1>
            </div>
            <div class="col-xl-3 center">
                <img src="../../Images/placeholder1.png" alt="Image of people coding">
            </div>
        </div>
        <div class="row button-container justify-content-center">
            <div class="button">
                Click here to get involved
            </div>
        </div>
    </div>
</div>

<div class="our-goal">

</div>

<!-- <div class="container">
    <div class="row 100">
        <div class="col-sm-2"></div>
        
        <div class="col-sm-8 content border">
            <h1 class="name center">
                Shulutions
            </h1>
            
            <div class="about-us-container">

            </div>
        </div>

        <div class="col-sm-2"></div>
    </div>
</div> -->