.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100vw;
    background-color: orange;
}

.header-content {
    margin: 150px;
}

.content {
    background-color: orange;
}
