<div class="image-upload-container">
    <input type="file" #fileInput multiple (change)="onFileSelected($event)" [style.display]="'none'">
    <div class="image-preview-container">
      <div *ngFor="let image of images; let i = index" class="image-wrapper">
        <img [src]="image" class="image-preview" (mouseover)="showRemoveButton[i] = true" (mouseout)="showRemoveButton[i] = false">
        <button class="remove-button" (click)="removeImage(i)">×</button>
      </div>
    </div>
    <div class="button-container">
      <button (click)="fileInput.click()">Choose Images</button>
    </div>
</div>