.voting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.03);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}