<div *ngIf="project">
    <div class="sections">
        <div class="section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h1>{{ project.title }}</h1>
                        <p>{{ project.description }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Created:</strong> {{ project.created | date: 'longDate' }}</p>
                        <p><strong>Languages:</strong> ...List project langauges...</p>
                        <p><strong>Manager:</strong> {{ project.projectManager.name }}</p>
                        <p><strong>Team:</strong> ...List project team members...</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h2>About the project</h2>
                        <p>{{ project.body }}</p>
                    </div>
                    <div class="col-md-6 image-container center">
                        <img src="http://localhost:3000/backend/projects/image/{{project.image}}" class="project-image">
                    </div>
                    
                </div>
            </div>
        </div>
            
        <div class="section">
            <div class="container-fluid">
                <div class="row">
                    <div *ngIf="project.discordLink" class="col-md-6">
                        <h2>Get involved</h2>
                        <p>
                            If you are interested in getting involved with this project, please join the discord server below and introduce yourself!
                        </p>
                        <div class="discord-container">
                            <iframe src="https://discord.com/widget?id=892804613785415690&theme=dark" width="100%" height="300" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                            <!-- change this link to use the project.discordLink -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="center">
                            <h2>View project on Github</h2>
                        </div>
                        <div class="center">
                            <a class="button color-primary " href="{{project.githubLink}}" target="_blank">View Repository</a>
                        </div>
                        <br>
                        <div class="center">
                            <h2>View design on Figma</h2>
                        </div>

                        <div *ngIf="project.figmaLink" class="center">
                            <a class="button color-primary " href="{{project.figmaLink}}" target="_blank">View Design</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>