<div *ngIf="(project$ | async) as project" class="center">
    <div class="container">
        <div class="header center">
            <h1>{{project.title}}</h1>
        </div>
        <div class="description center">
            <p>{{project.description}}</p>
        </div>
        <div class="image-container center">
            <img src="http://localhost:3000/backend/projects/image/{{project.image}}" class="project-image">
        </div>
        
        <div class="project-details">
            
            <div *ngIf="project.projectManager">
                <h4>Project Manager: </h4>
                <a routerLink="../../users/{{project.projectManager.id}}">{{project.projectManager.name}}</a>
            </div>
            <div class="body-container">
                <p>{{project.body}}</p>
            </div>
        </div>
    </div>
</div>