<div class="footer-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navigation-container navbar-dark ">
                    <ul class="nav nav-pills nav-fill ">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="projects" routerLinkActive="active">Projects</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>