<form [formGroup]="createProjectForm" (ngSubmit)="createProject()">

    <div class="center">
        <div class="container">
            <app-image-upload (selectedImages)="onSelectedImages($event)"></app-image-upload>
            <br>
    
            <div class="input-container">
                <input type="text" placeholder="Id" formControlName="id"> 
            </div>
    
            <div class="input-container">
                <input type="text" placeholder="Title" formControlName="title"> 
            </div>
    
            <div class="input-container">
                <input type="text" placeholder="Description" formControlName="description"> 
            </div>
    
            <div class="input-container">
                <textarea type="text" placeholder="Body" formControlName="body"> </textarea>
            </div>
            
    
            <button [disabled]="createProjectForm.invalid" type="submit">Create Project</button>
        </div>
    </div>
</form>