<form [formGroup]="projectRequestForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="field-container">
        <label for="title">Project Name</label>
        <input placeholder="Enter the project name" formControlName="title">
        <small>Choose a short, descriptive name for your project</small>
      </div>
      <br>
      <div class="field-container">
        <label for="description">Project Description</label>
        <textarea placeholder="Briefly describe the project" formControlName="description"></textarea>
        <small>Provide an overview of the project, its purpose, and target audience</small>
      </div>
      <br>
      <div class="field-container">
        <label for="skills">Required Skills</label>
        <input placeholder="List required skills" formControlName="skills">
        <small>Specify the skills required for contributors to work on this project (e.g., JavaScript, Python, UI/UX)</small>
      </div>
      <br>
      <div class="field-container">
        <label for="goals">Project Goals/Objectives</label>
        <textarea placeholder="List the main goals and objectives" formControlName="goals"></textarea>
        <small>Outline the primary goals and objectives of the project to help contributors understand its direction</small>
      </div>
      <br>
      <div class="field-container">
        <label for="additionalInfo">Additional Information</label>
        <textarea placeholder="Add any extra information" formControlName="additionalInfo"></textarea>
        <small>Include any other relevant details or context to help others understand the project</small>
      </div>
      <br>
      <div class="button-container center">
        <button class="button primary" [disabled]="projectRequestForm.invalid" type="submit">Submit Idea</button>
      </div>
    </div>
  </form>